@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

.carousel-container {
  margin: auto;
  background-color: #ddd;
  width: 60%;
}

.header {
  padding: 20px 10px;
  background-image: url('banner.jpg');
}

.image-slider {
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script';
}

.h1-info {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script';
}

h2 {
  text-align: center;
  font-family: 'Amatic SC';
  padding-top: 20px;
  font-size: 90px;
}

.img-centered {
  text-align: center;
}

.div-contact {
  width: 50%;
  float: right;
  text-align:center;
  padding-top: 70px;
}

.h2-info {
  text-align: center;
  font-family: 'Amatic SC';
  padding-top: 20px;
  font-size: 40px;
}

.h2-contact {
  text-align: center;
  font-family: 'Amatic SC';
  padding-top: 10px;
  font-size: 55px;
}

.h3-info {
  text-align: center;
  font-family: 'Raleway';
  padding-top: 20px;
  font-size:25px;
}


.display-image {
  padding: 20px;
  width: 33%
}

.display {
 padding:30px;
}

.menu-bar{
  background-color: #f1f1f1;
  display: block;
  margin-bottom: 2em;
}

.search{
  text-align: right;
}

.dropbtn {
  font-family: 'Amatic SC';
  padding: 16px;
  font-size: 30px;
  border: none;
  background-color: #f1f1f1;
}

.link {
  color: black;
}

.link:hover {
  color: black;
  text-decoration: none;
}

.bottom-footer-bar {
  color:white;
  font-family: 'Amatic SC';
  font-size: 30px;
  padding-left: 2em;
  transition: color 0.5s ease;
}

.bottom-footer-bar {
  color:white;
  font-family: 'Amatic SC';
  font-size: 30px;
}

.bottom-footer-bar:hover{
  color:#ddd;
  font-family: 'Amatic SC';
  font-size: 30px;
  text-decoration: none;
  padding-left: 2em;
}

.menu-btn {
  font-family: 'Amatic SC';
  padding: 16px;
  font-size: 30px;
  border: none;  
  background-color: #f1f1f1;
}

.menu-btn:hover {background-color:grey;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  font-family: 'Amatic SC';
  font-size: 19px;
  border: none;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:grey;}

.search-container input {
  padding-top: 6px;
  margin-top: 3px;
  font-size: 17px;
  border-radius: 20px;
}

.search-container button {
  float: right;
  padding-top: 8px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

.search-container a {
  float: right;
  padding-top: 8px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

.search-container {
  float: right;
  padding-top: 18px;
  padding-right: 20px;
}

.shop {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100;
}


.icon-footer {
  padding-left: 30px;
}

.container{
  display : flex;
  flex-direction : row; 
  justify-content : space-around;
  flex-flow : wrap;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 3em;
}

.loading{
  padding-top: 4em;
  padding-bottom: 4em;
}

.product-card:hover{
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 2px 2px 2px #000;   
}

.product-a
{
    text-decoration: none;
}

.product-card {
    width: 20%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    float: right;
    margin: 5px 5px 30px 5px;
    transition: 1s;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #f0f0f0;
}

.product-tumb img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 12px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.footer {
  text-align: center;
  background-color: rgb(77, 152, 193);
  color: #fff;
  font-family: 'Amatic SC';
  font-size: 10px;    
  height: 20%;
  padding-top: 3em;
}

.icon-footer {
  text-align: center;
  padding-left: 5em;
}

.bottom-footer {
  padding-top: 1em;
  padding-bottom: 2em;
}

nav{
  height: 80px;
  width: 100%;
  padding-bottom: 4em;
}

nav ul{
  float: left;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  font-family: 'Amatic SC';
  padding: 4px;
  font-size: 30px;
  border: none;  
  background-color: #f1f1f1;
  color: black;
}
a.active,a:hover{
  background: grey;
  transition: .5s;
  color:black;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #f1f1f1;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    margin: 5px;
  }
  nav ul li a{
    font-size: 20px;
    margin: 5px
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.container-product-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
  margin-left: 7%;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
  margin-right: 5%;
  margin-bottom: 120px;
}

.left-column img {
  width: 70%;
  position: relative;
  transition: transform .2s;
}
 
.left-column img:hover {
  transform: scale(1.5);
  margin-left:50px;
}

.product-detail-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-detail-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-detail-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-detail-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-detail-price {
  display: flex;
  align-items: center;
}
 
.product-detail-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .container-product-detail {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    margin:auto;
    top: -50px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    position: relative;
  }
}